<!-- include header.ejs and footer.ejs so the same css style can be applied. -->
<%- include("header") -%>

<h2>This is the about page</h2>

<p>Nothing interesting...Just trying to learn using EJS.</p>

<%- include("footer") -%>
